/** 
CSS
Alignment
Styling
Flex Properties
Button Styling
charlie brace
**/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    font-weight: bold;
    float: center;
    justify-content: center;
}


h1 {
    color: aqua;
    text-align: center;
}

.movie-card {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    justify-content: right;
}

.movie-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}


