/*
CSS
Alignment
Styling
Flex Properties
Button Styling
charlie brace

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    font-weight: bold;
    float: center;
    justify-content: center;
}
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background-color: rgb(12, 31, 14)!important;
}


h1 {
    color: aqua; 
    text-align: center;
}

h3 {
    color: rgb(240, 132, 132);
}


main {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(18, 36, 11)!important; /*- was just using this background to see the section and to adjust the cards, but in the end best to remove it for aesthetics*/ 
}

.movie-card {
    background-color: green;
    text-align: center;
    height: 300px;
    margin-left: -110px;
}

.restaurant-card {
    background-color: rgb(139, 222, 139);
    text-align: center;
    height: 300px;
}

.user-input {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    background-color: grey;
   
  }